.App {
    background-color: #293b5d;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    justify-content: center;
}


h1#app-title {
    font-family: Impact;
    text-align: right;
}

.logo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%
}

#app-title {
    font-size: 2.5rem;
    font-weight: 600;
    margin: 0;
    padding: 10px;
}

#logo {
    height: 100px;
    width: auto;
}
