
.Sidebar {

    width: 400px;
    background-color: var(--main-background-color);
    color: var(--main-text-color);
    float: left;
    border: var(--border-width) solid var(--border-color);
  
    transition: width 0.25s;
}
  
.Sidebar-list {
    list-style-type: none;
    height: 100%;
    /* width: 100%; */
    margin: 0;
    padding: 0;
}

.Sidebar-list .row {
    height: 60px;
    background-color: var(--main-background-color);

    list-style-type: none;
    cursor: pointer;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.Sidebar-list .row:hover {
    background-color: var(--hover-color);
}
  
.Sidebar-list #Sidebar-heading {
    width: 100%;
    height: 60px;
    background-color: var(--main-background-color);
  
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}


.row #icon {
    flex: 30%;
    display: grid;
    place-items: center;
  
}

.row #title {
    flex: 70%;
    display: grid;
    place-items: center;
}