
.homepage {
    display: flex;
    flex-direction: column;
}

.home-header {
    display: flex;
}

.week-select {
    display: grid;
    align-items: center;
    justify-content: center;

    min-height: 200px;
    min-width: 200px;
    max-height: 200px;
    max-width: 200px;
}

.week-status {
    display: grid;
    min-height: 200px;
    min-width: 200px;
    max-height: 200px;
    max-width: 200px;
}

.week-status .badge {
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: center;
}


.project-info {
    padding: 15px;
    min-width: 300px;
    max-width: 400px;
    max-height: 400px;
}

.pages-info {
    padding: 15px;
    min-width: 400px;
    max-width: 800px;
    max-height: 200px;
}

.heading {
    padding: 10px;
}
