
.homepage {
    flex: grid;
    flex-direction: column;
}

.week-select {
    display: grid;
    min-height: 200px;
    min-width: 200px;
    max-height: 200px;
    max-width: 200px;
}

.week-status {
    display: grid;
    min-height: 200px;
    min-width: 200px;
    max-height: 200px;
    max-width: 200px;
}

.week-status .badge {
    margin: 5px;
    vertical-align: center;
}

.project-info {
    padding: 15px;
    min-width: 400px;
    max-height: 200px;
}

.pages-info {
    padding: 15px;

    max-height: 200px;
}

.heading {
    padding: 10px;
}
