.home-container {
    width: 100%;
    /* flex: 70%; */
    padding: 15px;
}

.week-select {
    display: flex;
    justify-content: space-between;
}

.project-info {
    padding: 15px;
}

.pages-info {
    padding: 15px;
}

.heading {
    padding: 10px;
}