.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rbga(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: 1; */
}

.popup-inner {
    position: relative;
    border: 1px;
    border-style: solid;
    border-color: black;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    background-color: rgba(194, 195, 255, 0.898);
    /* z-index: 1; */

}

.popup-inner .close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
}