.enter {
    flex-direction: column;
}

.enter-units-form {
    display: flex;
}

.enter-units-form input {
    border: none;
    border-radius: 5px;
}

.top-row {
    display: flex;
    justify-content: space-between;
}

.submitted-message {
    margin: 30px 0;
}