/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}
  
  /* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  overflow: hidden;
}

.edit-container {
  display: grid;
  /* justify-content: space-evenly; */
  grid-template-columns: 1fr 1fr;
  /* width: 90%; */
  height: 200px;
}

.activity-container {
  flex-direction: column;
}

.file-upload {
  margin: 20px;
  padding: 15px;
  /* width: 0.2vw; */

  /* display: flex;
  flex-direction: column; */
  justify-content: center;
  text-align: center;
}

#upload-form {
  margin: 15px;
  display: flex;
  justify-content: center;
}
#upload-form input {
  margin: 15px;
  width: 200px;
  justify-content: center;

}

.delete-container {
  margin: 20px;
  padding: 15px;
  /* max-width: 300px; */

  /* display: flex;
  flex-direction: column; */
  justify-content: center;
  text-align: center;
}

/* button {
  width: 200px;
} */