/* Style the buttons that are used to open and close the accordion panel */
.upload-page {
  flex-direction: column;
}

.activity-header {
  display: flex;
  justify-content: space-between;
}

.accordion {
  background-color: var(--div-background-color-lighter);
  color: var(--div-text-color);
  cursor: pointer;
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.02s;
}
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}
  
  /* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: var(--div-background-color-lighter);
  overflow: hidden;
}

.edit-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 200px;
}

.activity-container {
  flex-direction: column;
  padding: 10px;
}

.file-upload {
  margin-right: 10px;
  padding: 15px;
  justify-content: center;
  text-align: center;
}

#upload-form {
  margin: 15px;
  display: flex;
  justify-content: center;
  width: var(50%-30px);
}

#upload-form input {
  margin: 15px;
  width: 200px;
  justify-content: center;

}

.delete-container {
  margin-left: 10px;
  padding: 15px;
  justify-content: center;
  text-align: center;
  width: var(50%-30px);
}
