.login-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    position: absolute;
    min-height: 600px;

    border-style: solid;    
    border-width: 1px;
    border-color: blue;
}

